@import 'nav.css';
@import 'item.css';
@import 'sidebar.css';
@import 'item.css';

.main {
    height: 100%;
    display: flex;
}

.items_container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

